/* 页面主体颜色 */
$brandColor: #0098ff;

$successColor: #5aba1f;
$warningColor: #f56c6c;
$infoColor: #8896b3;

$loadingBg1: #0098ff;
$loadingBg2: #21b30c;
$loadingBg3: #f40;
$loadingBg4: rgb(226, 248, 23);

$homeGradientBg: linear-gradient(to right, #06d5fc, #1fb7f9, #1e99f5);
$homeGradientBgReverse: linear-gradient(to left, #06d5fc, #1fb7f9, #1e99f5);

$gradientBg: linear-gradient(25deg, #06d5fc, #1fb7f9, #1e99f5);
$gradientBgReverse: linear-gradient(-25deg, #06d5fc, #1fb7f9, #1e99f5);

// 文本颜色
$primaryText: #303133;
$regularText: #606266;
$secondaryText: #909399;
$placeholderText: #c0c4cc;

// 边框颜色
$borderBase: #dcdfe6;
$borderLight: #e4e7ed;
$borderLighter: #ebeef5;
// 边框圆角
$borderRadius: .04rem;

// 尺寸相关
$sectionMargin: .3rem;

// 字体相关
$fontFamily: '-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji';
$lineHeight: 1.5;
